@font-face {
  font-family: "RobotoCondensed";
  src: url("fonts/RobotoCondensed-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("fonts/InterDisplay-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/InterDisplay-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/InterDisplay-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/InterDisplay-SemiBold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/InterDisplay-SemiBoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

:root {
  --selic-white: #fafbfc;
  --selic-black: #050505;
  --selic-yellow: #F6E830;
  --selic-violet: #6E4AE8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--selic-black);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  /* scrollbar-width: thin;
  scrollbar-color: #fff #000; */
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--selic-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--selic-white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

h1 {
  font-family: 'RobotoCondensed';
  font-size: 3rem;
  font-weight: normal;
  line-height: 1;
  color: var(--selic-black);
  text-transform: uppercase;
  /* letter-spacing: 1px; */
}

h2 {
  color: var(--selic-black);
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 800px;
}

h2 a {
  font-size: inherit;
}

h2 i {
  font-size: inherit;
  color: inherit;
}

h3 {
  color: var(--selic-black);
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: bold;
}

h4 {
  color: var(--selic-black);
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: normal;
}

h5 {
  color: var(--selic-black);
  font-size: 1rem;
  font-weight: bold;
}

p {
  color: var(--selic-black);
  line-height: 1.5;
}

.title {
  font-size: 0.8rem;
  font-style: italic;
  max-width: 100%;
  color: var(--selic-black);
}

.caption {
  max-width: 100%;
  text-align: left;
  font-size: 0.8rem;
  font-style: italic;
}

i {
  color: #999;
}

a:link {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--selic-black);
  transition: .5s ease;
}

a:hover {
  text-decoration: underline;
  color: var(--selic-violet);
}

a:visited {
  color: var(--selic-black);
}

a:visited:hover {
  color: var(--selic-violet);
}

body {
  background: var(--selic-white);
}

nav {
  position: fixed;
  width: 100%;
  height: 5.25em;
  top: 0;
  background-color: transparent;
  transition: transform 0.5s ease-in-out;
  z-index: 50;
}

#nav-home {
  filter: invert();
}

nav.hide-on-scroll {
  transform: translateY(-100%);
}

nav img {
  cursor: pointer;
}

nav .logo {
  margin-top: 1em;
  padding-left: 1em;
  width: fit-content;
}

nav .logo img {
  height: 48px;
}

nav .logo a:hover {
  text-decoration: none;
}

nav .logo-text {
  display: none;
}

nav .openMenu {
  position: absolute;
  top: 1em;
  right: 1em;
  transition: transform .5s ease;
}

nav .openMenu img {
  height: 48px;
}

nav .mainMenu {
  height: 100dvh;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .mainMenu li {
  padding-left: 1em;
  list-style-type: none;
}

nav .mainMenu li a {
  font-size: 3rem;
  line-height: 2;
  text-underline-offset: 12px;
  text-decoration-thickness: 3px;
}

nav a:link {
  color: var(--selic-black);
  text-decoration: none;
  transition: text-decoration .5s;
}

nav a:hover {
  color: var(--selic-black);
  text-decoration: underline;
}

nav a:visited {
  color: var(--selic-black);
}

nav a:visited:hover {
  color: var(--selic-black);
  text-decoration: underline;
}

#active {
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 3px;
}

.banner {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  margin-top: 5.25em;
}

.banner img {
  width: 100%;
  object-fit: cover;
  display: block;
}

main {
  margin: 5.25em 1em 0;
  display: block;
}

.awards {
  /* display: inline-flex;
  flex-direction: column; */
  margin: 1em 0 0 1em;
}

img.awards-label {
  height: 3em;
  width: auto;
  padding-right: 0.25em;
}

.headline {
  padding: 36px 0 36px;
  line-height: 1.5;
}

.row {
  margin-bottom: 32px;
}

.column {
  width: 100%;
  padding-bottom: 1em;
}

.about-column-right img {
  max-width: 100%;
}

.line {
  background-color: #333;
  height: 0.5px;
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 3em;
}

.grid a {
  text-decoration: none;
}

.cell-1 {
  padding-bottom: 1em;
}

.highlight-project {
  aspect-ratio: 1;
  float: left;
  position: relative;
  overflow: hidden;
}

.highlight .gallery {
  overflow: hidden;
  cursor: pointer;
  filter: brightness(0.5) blur(3px);
  transform: scale(1.25);
  transition: 2s ease;
}

img.gallery {
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.highlight .project-title {
  font-family: 'RobotoCondensed';
  color: var(--selic-white);
  width: 20em;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
}

.highlight .project-subtitle {
  color: var(--selic-white);
  opacity: 0.7;
  width: 20em;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  text-align: center;
}

.text-box {
  display: block;
}

.cv {
  padding-bottom: 3em;
}

.accordion {
  box-shadow: 0px 1px 0px var(--selic-black);
}

.contentBox {
  position: relative;
}

.label {
  font-size: 1rem;
  font-weight: bold;
  padding: 1em 0 1em;
  position: relative;
  cursor: pointer;
}

/* .label:hover {
  border: solid 1px #000;
} */

.label::before {
  content: url(assets/expand_more_FILL0_wght400_GRAD0_opsz48.svg);
  width: 24px;
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}

.contentBox.active .label::before {
  content: url(assets/expand_less_FILL0_wght400_GRAD0_opsz48.svg);
  width: 24px;
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}

.content {
  position: relative;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
}

.content ul li {
  padding-bottom: 1em;
}

.contentBox.active .content {
  height: fit-content;
  padding: 0 2em 2em;
}

.references a {
  font-weight: bold;
  font-size: 1rem;
  line-height: 2;
  text-underline-offset: 0.2em;
}

.thumbnail {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
}

.thumbnail:hover {
  filter: brightness(0.6);
  cursor: zoom-in;
}

/* Modal (hidden by default) */
.previewModal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
}

#previewImage {
  object-fit: contain;
  width: 100%;
  max-height: 80%;
}

#previewImage:hover {
  cursor: default;
  filter: none;
}

#closePreview {
  position: absolute;
  top: 26px;
  right: 1em;
}

#closePreview img {
  height: 26px;
  cursor: pointer;
}

#closePreview:hover {
  opacity: 50%;
}

/* Image Preview Animation */
#previewImage {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: .5s;
  animation-name: zoom;
  animation-duration: .5s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.5)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0.5)
  }

  to {
    transform: scale(1)
  }
}

video {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 3rem;
  color: var(--selic-black);
  border: solid 2px var(--selic-black);
  border-radius: 60px;
  width: fit-content;
  margin-top: 30px;
  padding: 0px 24px 6px 24px;
  transition-duration: 0.5s;
}

.button:hover {
  border: solid 2px var(--selic-black);
  background-color: var(--selic-black);
  color: var(--selic-white);
  cursor: pointer;
}

video {
  display: flex;
  justify-content: center;
}

.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  filter:
    brightness(0.5);
  /* grayscale(1);
    display: none; */
}

.background-video video {
  height: 100dvh;
}

.background-video iframe {
  height: 100dvh;
}

.responsive-video {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  background-color: #000;
}

.responsive-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote {
  /* font-family: 'RobotoCondensed'; */
  font-weight: bold;
  font-size: 2.5rem;
  /* text-transform: uppercase; */
  text-align: center;
  color: var(--selic-white);
  /* mix-blend-mode: difference;
  filter: invert(); */
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ideology {
  padding-bottom: 3em;
}

.statement {
  text-align: center;
  padding: 2em 0 2em;
}

.elaboration p {
  padding: 1em 0em 1em;
}

.mission {
  text-align: center;
  padding: 2em;
  margin: auto;
}

footer {
  width: 100%;
  padding: 3em 1em;
  background-color: var(--selic-violet);
  color: var(--selic-white);
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
}

.address-section {
  color: var(--selic-white);
  font-size: 0.8rem;
  padding-bottom: 2em;
}

.contact-section {
  color: var(--selic-white);
  font-size: 0.8rem;
  padding-bottom: 2em;
}

.copyright-section {
  color: var(--selic-white);
  font-size: 0.8rem;
}

.footer-home {  
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--selic-black);
  color: var(--selic-white);
}

@media only screen and (min-width: 796px) {
  nav .logo a {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  nav .logo-text {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    /* letter-spacing: 0.1rem;
    text-transform: uppercase; */
  }

  .mainMenu {
    display: inline-flex;
  }

  .banner {
    margin-top: 0;
  }

  .grid {
    display: grid;
    grid-gap: 1em;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
  }

  .cell-3 {
    grid-column: 2;
  }

  .highlight-project:hover .gallery {
    overflow: hidden;
    cursor: pointer;
    filter: brightness(0.5) blur(3px);
    transform: scale(1.25);
    transition: 2s ease;
  }

  .highlight-project:hover .project-title {
    font-family: 'RobotoCondensed';
    color: var(--selic-white);
    width: 20em;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
  }

  .highlight-project:hover .project-subtitle {
    color: var(--selic-white);
    opacity: 0.7;
    width: 20em;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    text-align: center;
  }

  .line {
    height: 1px;
  }

  img.awards-label {
    height: 6em;
    width: auto;
  }

  .column {
    top: 240px;
    float: left;
    width: 50%;
  }

  .left {
    padding-right: 2em;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    z-index: 0;
  }

  .right {
    padding-left: 2em;
  }

  .about-column-left {
    float: left;
    width: 60%;
    padding-right: 12px;
  }

  .about-column-right {
    float: left;
    width: 40%;
    padding-left: 12px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  p {
    max-width: 800px;
    /* text-align: justify;
    text-justify: inter-word; */
  }

  .quote {
    width: calc(100vw - 96px);
  }

  .ideology {
    padding-bottom: 6em;
  }

  .statement {
    padding: 4em;
    max-width: 750px;
    width: fit-content;
    margin: auto;
  }

  .elaboration p {
    max-width: 40vw;
  }

  .elaboration .left {
    margin-left: 5vw;
  }

  .elaboration .right {
    margin-left: 50vw;
  }

  .elaboration .center {
    margin: auto;
  }

  .mission {
    padding: 4em;
    max-width: 700px;
    margin: auto;
  }

  footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

@media only screen and (min-width: 1280px) {
  .grid.project-text.project-text {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 6em;
  }

  .cell-3 {
    grid-column: 3;
  }

  .project-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-gallery {
    grid-template-columns: 1fr 1fr;
  }

  img.awards-label {
    margin-right: 2em;
  }

  #previewImage {
    width: auto;
    max-width: 1920px;
    height: 80%;
  }

  .background-video video {
    width: 100vw;
    height: auto;
  }

  .quote {
    width: calc(100vw - 600px);
    font-size: 3rem;
  }

  .ideology {
    padding-bottom: 6em;
  }

  .statement {
    padding: 6em;
    max-width: 800px;
    margin: auto;
  }

  .elaboration p {
    max-width: 30vw;
  }

  .elaboration .left {
    margin-left: 15vw;
  }

  .elaboration .right {
    margin-left: 50vw;
  }

  .elaboration .center {
    margin: auto;
  }

  .mission {
    padding: 5em;
    margin: auto;
  }
}

@media only screen and (min-width: 1920px) {}

@media only screen and (min-width: 2560px) {
  * {
    font-size: 1.025rem;
  }

  .caption {
    font-size: 1.025rem;
  }

  footer {
    font-size: 0.875rem;
  }

  nav .mainMenu li a {
    font-size: 18px;
  }

  .project-title {
    font-size: 30px;
  }

  .project-subtitle {
    font-size: 18px;
  }
}

@media only screen and (min-width: 3840px) {}