<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Selić Industriedesign - TITLE</title>
  <meta name="description"
    content="Selić Industriedesign is an award winning industrial design office with over 30 years of experience.">
  <meta name="keywords" content="Selić Industriedesign, industrial design, Augsburg (Germany), portfolio">
  <meta name="author" content="Tino Selic">
  <meta property="og:title" content="Selić Industriedesign">
  <meta property="og:description"
    content="Selić Industriedesign is an award winning industrial design office with over 30 years of experience.">
  <meta property="og:image" content=""> <!-- add image -->
  <meta property="og:url" content=""> <!-- add url -->
  <meta property="og:type" content="website">
  <link rel="icon" type="image/x-icon" href="../../assets/favicon.svg" />
  <link rel="stylesheet" href="../../style.css" />
</head>

<body>
  <header>
    <nav>
      <button class="logo" onclick="window.location.href='../../'">
          <img src="../../assets/logo.svg" alt="">
          <span class="logo-text">Selić Industriedesign</span>
      </div>
      <div class="openMenu"><img src="../../assets/cross.svg" alt=""></div>
      <ul class="mainMenu">
        <li><a href="../../work/">Work</a></li>
        <li><a href="../../about/">About</a></li>
      </ul>
    </nav>
  </header>
  <section class="banner">
    <img src="../../images/PreviewImage_Banner.jpg" alt="">
  </section>
  <section class="awards">
    <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
    <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
    <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
    <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
    <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
    <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
  </section>
  <main>
    <div class="grid project-text">
      <div class="cell-1">
        <h1>Title</h1>
        <br>
        <h4>Subtitle</h4>
        <br>
      </div>
      <div class="cell-2">
        <h5>Paragraph Heading
        </h5>
        <br>
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </div>
      <div class="cell-3">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
        <br>
        <p style="font-size: 0.7rem;">Images © Selic Industriedesign</p>
      </div>
    </div>
    <div class="grid image-gallery">
      <img src="../../images/PreviewImage_FullHD.jpg" alt="" class="thumbnail">
      <img src="../../images/PreviewImage_FullHD.jpg" alt="" class="thumbnail">
      <img src="../../images/PreviewImage_FullHD.jpg" alt="" class="thumbnail">
      <img src="../../images/PreviewImage_FullHD.jpg" alt="" class="thumbnail">
    </div>
    <div class="previewModal">
      <div id="closePreview"><img src="../../assets/close_FILL0_wght400_GRAD0_opsz48.svg" alt=""></div>
      <img id="previewImage">
    </div>
  </main>
  <footer id="copyright"></footer>
  <script src="../../app.js"></script>
</body>

</html>