<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Selić Industriedesign - TITLE</title>
  <meta name="description" content="Selić Industriedesign is an award winning industrial design office.">
  <meta name="keywords" content="Selić Industriedesign, industrial design, Augsburg, Germany, portfolio">
  <meta name="author" content="Tino Selic">
  <meta property="og:title" content="Selić Industriedesign">
  <meta property="og:description" content="Selić Industriedesign is an award winning industrial design office.">
  <meta property="og:image" content="https://selic.de/images/231025-KUKA-KR-FORTEC-2-1920x1200-01.webp">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <link rel="icon" type="image/x-icon" href="../../assets/favicon.svg" />
  <link rel="stylesheet" href="../../style.css" />
</head>

<body>
  <header>
    <nav>
      <div class="nav-container">
        <button class="logo" onclick="window.location.href='../../'">
          <img src="../../assets/logo.svg" alt="Logo icon">
          <span class="logo-text">Selić Industriedesign</span>
        </button>
        <button class="openMenu"><img src="../../assets/cross.svg" alt="Cross icon"></button>
        <ul class="mainMenu">
          <li><a href="../../work/">Work</a></li>
          <li><a href="../../about/">About</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="banner">
    <img src="../../images/PreviewImage_Banner.jpg" alt="Project banner" loading="lazy">
  </section>
  <main>
    <section class="project-info">
      <div class="awards">
        <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
        <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
        <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
        <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
        <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
        <img class="awards-label" src="../../images/PlaceholderImage.png" alt="Award label">
      </div>
      <button class="back"></button>
      <div class="grid project-text">
        <div class="cell-1">
          <div class="english">
            <h1>Title</h1>
            <br>
            <h4>Subtitle</h4>
            <br>
          </div>
          <div class="german">
            <h1>Titel</h1>
            <br>
            <h4>Untertitel</h4>
            <br>
          </div>
        </div>
        <div class="cell-2">
          <div class="english">
            <p>
              <b>
                Introduction
              </b>
              <br>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              <br>
              <br>
            </p>
            <div id="moreText-en" class="more-content lang-hidden">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                <br>
                <br>
              </p>
            </div>
          </div>
          <div class="german">
            <p>
              <b>
                Einleitungssatz
              </b>
              <br>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              <br>
              <br>
            </p>
            <div id="moreText-de" class="more-content lang-hidden">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                <br>
                <br>
              </p>
            </div>
          </div>
          <div class="button-wrapper">
            <button id="more" onclick="toggleMore()"></button>
            <div class="language">
              <button class="language-switch" id="en"></button>
              <button class="language-switch" id="de"></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="grid image-gallery">
      <img src="../../images/PreviewImage_1920x1200.jpg" alt="Image description" class="thumbnail" loading="lazy"
        data-index="1">
      <img src="../../images/PreviewImage_1920x1200.jpg" alt="Image description" class="thumbnail" loading="lazy"
        data-index="2">
      <img src="../../images/PreviewImage_1920x1200.jpg" alt="Image description" class="thumbnail" loading="lazy"
        data-index="3">
      <img src="../../images/PreviewImage_1920x1200.jpg" alt="Image description" class="thumbnail" loading="lazy"
        data-index="4">
    </div>
    <p class="image-copyright">Images © Selić Industriedesign</p>
    <div class="previewModal">
      <span id="closePreview"><img src="../../assets/close.svg" alt="Close icon"></span>

      <!-- Rename ProjectA -->
      <div id="galleryProjectA">
        <a class="prev" onclick="plusSlides(-1)"><img src="../../assets/arrow_left.svg" alt="Arrow left"></a>
        <a class="next" onclick="plusSlides(1)"><img src="../../assets/arrow_right.svg" alt="Arrow right"></a>
      </div>

      <!-- Rename ProjectA -->
      <div class="slideshow-row" id="thumbnailsProjectA"></div>
    </div>
  </main>
  <div class="backToTop">
    <a href="#" id="backToTop">&uarr; Back to Top</a>
  </div>
  <footer></footer>
  <script src="../../app.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      generateGallery("galleryProjectA", "thumbnailsProjectA", [
        "../../images/PreviewImage_1920x1200.jpg",
        "../../images/PreviewImage_1920x1200.jpg",
        "../../images/PreviewImage_1920x1200.jpg",
        "../../images/PreviewImage_1920x1200.jpg"
      ]);
    });
  </script>
</body>

</html>